@charset "UTF-8";
/*MENU*/
.menu-space{
    min-height:20px;
}

.menu{
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu h1{
    font-size: 2.6rem;
}

.menu-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    font-size: 1.8rem;
    display: block;
    padding: 2rem;
    position: relative;
}
/*
.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--main-color);
    transition: all 0.3s;
}*/

.menu ul li a:hover{
    /*width: 50%;
    left: 25%;*/
    background: rgba(0, 0, 0, 0.116);
    transition: 0.5s;
}

@media (max-width: 800px) {

    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    .menu{
        display: none;
    }

    .fecha-menu{
        display: none;
    }

    .fecha-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--main-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        pad: 0.5rem;
        cursor: pointer;
    }

    .fecha-menu:checked~.menu{
        display: block;
    }

    .menu-space{
        display: none;
    }
}
